.shoes-card{
    border: 0;
}

.shoes-card-footer{
    background-color:white;
    border: 0;
}

.catagoris{
    width: 100%;
}
.panda-slide.carousel {
   background-color: #fceae8;
   border-radius: 1em;